### Week 3 Assignment Part 2

Now that we have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

#### Import `pandas`

In [1]:
import pandas as pd

#### Load the dataframe that was created in Part 1

In [2]:
df = pd.read_csv("Toronto_Post.csv", index_col = 0) #otherwise the index column itself becomes an unnamed:0 column
df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

According to IBM, the package `geocoder` is unreliable. 

As a result, we will use that csv file that has the geographical coordinates of each postal code 

Retrieve it from http://cocl.us/Geospatial_data & the file name is "Geospatial_Coordinates.csv"

In [3]:
df1 = pd.read_csv("Geospatial_Coordinates.csv")
df1

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

#### Sort df by "PostalCode" to match the ordering in df1

In [4]:
df = df.sort_values(by = "PostalCode")
df

   PostalCode       Borough                                       Neighborhood
6        M1B   Scarborough                                     Malvern, Rouge
12       M1C   Scarborough             Rouge Hill, Port Union, Highland Creek
18       M1E   Scarborough                  Guildwood, Morningside, West Hill
22       M1G   Scarborough                                             Woburn
26       M1H   Scarborough                                          Cedarbrae
..        ...           ...                                                ...
64       M9N          York                                             Weston
70       M9P     Etobicoke                                          Westmount
77       M9R     Etobicoke   Kingsview Village, St. Phillips, Martin Grove ...
89       M9V     Etobicoke   South Steeles, Silverstone, Humbergate, Jamest...
94       M9W     Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

#### Reset the index of df and remove the column named "index"

In [5]:
df.reset_index(inplace=True, drop=True)

In [6]:
df

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

#### Merging df and df1
For some unknown reasons `pd.merge(df,df1,on="Postal Code")` returns an empty dataframe.

As a result, we will use `pd.concat([df, df1], axis=1)` instead, which will be followed by drop one of the 'Postal Code' column.

In [7]:
df_concat = pd.concat([df, df1], axis=1)
df_concat

,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",M9W,43.706748,-79.594054

#### Drop the column "Postal Code"

In [8]:
df_concat = df_concat.drop(columns="Postal Code")
df_concat

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

#### Generate a randomly shuffled dataframe and display the first 12 rows

In [9]:
df_shuffled = df_concat.sample(frac=1).reset_index(drop=True)
df_shuffled.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
1,M6H,West Toronto,"Dufferin, Dovercourt Village",43.669005,-79.442259
2,M5M,North York,"Bedford Park, Lawrence Manor East",43.733283,-79.419750
3,M6N,York,"Runnymede, The Junction North",43.673185,-79.487262
4,M4S,Central Toronto,Davisville,43.704324,-79.388790
5,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
6,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
7,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
8,M4H,East York,Thorncliffe Park,43.705369,-79.349372
9,M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763
10,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
11,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476

#### Save df_concat for Part 3

In [10]:
df_concat.to_csv("Toronto_LatLon.csv")